In [9]:
## Elijah Chandra - Homework 2

# Import pandas with alias 'pd'
import pandas as pd
# Import pathlib with alias Path
from pathlib import Path

In [21]:
# Create a path to the file
budgetpath = Path("budget_data.csv")

In [22]:
# Read CSV
budget_df = pd.read_csv(budgetpath)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [23]:
# Total Number of Months
t_months = len(budget_df.Date)

In [24]:
# Net total amount of Profit/Losses
profloss = "Profit/Losses"
total_profloss = budget_df[profloss].sum()

In [46]:
# Average of Changes in Profit/Losses
budget_df['shift'] = budget_df['Profit/Losses'].shift(1)
budget_df['difference'] = budget_df['Profit/Losses'] - budget_df['shift']
avgprofloss = budget_df['difference'].mean()

In [108]:
# Greatest Increase in Profits (Entire Period)
greatest_increase = budget_df['difference'].max()
budget_df.loc[budget_df['difference']==greatest_increase]

        Date  Profit/Losses     shift  difference
25  Feb-2012        1170593 -755566.0   1926159.0

In [101]:
# Greatest Decrease in Losses (Entire Period)
greatest_decrease = budget_df['difference'].min()
budget_df.loc[budget_df['difference']==greatest_decrease]

        Date  Profit/Losses     shift  difference
44  Sep-2013       -1196225  999942.0  -2196167.0

In [109]:
print("Financial Analysis")
print("-----------------------")
print(f"Total Months: {t_months}")
print(f"Total: ${total_profloss}")
print(f"Average Change: ${(round(avgprofloss, 2))}")
print(f"Greatest Increase in Profits: Feb-2012 (${(round(greatest_increase, ))})")
print(f"Greatest Decrease in Profits: Sep-2013 (${(round(greatest_decrease, ))})")

Financial Analysis
-----------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)